.ipynb_checkpoints/

data/pundemic_forward_reads_trimmed.qza
data/pundemic_forward_reads.qza
data/pundemic_forward_reads_backward_trimmed.qza
data/pundemic_forward_reads_both_trimmed.qza
data/pundemic_forward_reads_trimmed_backtrimmed_03_QCfiltered_stats.qza
data/pundemic_forward_reads_trimmed_backtrimmed_03.qza
data/pundemic_forward_reads_trimmed_backtrimmed.qza
data/pundemic_forward_reads_trimmed_backtrimmed_QCfiltered.qza
