.ipynb_checkpoints/

data/preprocessing/pundemic_forward_reads.qza
data/preprocessing/pundemic_forward_reads_trimmed_QCfiltered_2.qza
data/preprocessing/pundemic_forward_reads_trimmed_QCfiltered.qza
data/preprocessing/pundemic_forward_reads_QCfiltered.qza
