.ipynb_checkpoints/

data/pundemic_forward_reads_trimmed.qza
data/pundemic_forward_reads.qza
data/pundemic_forward_reads_backward_trimmed.qza
data/pundemic_forward_reads_both_trimmed.qza
data/pundemic_forward_reads_trimmed_backtrimmed_03_QCfiltered_stats.qza
data/pundemic_forward_reads_trimmed_backtrimmed_03.qza
data/pundemic_forward_reads_trimmed_backtrimmed.qza
data/pundemic_forward_reads_trimmed_backtrimmed_QCfiltered.qza
data/pundemic_forward_reads_trimmed_backtrimmed_03_QCfiltered.qza
data/pundemic_forward_reads_trimmed_QCfiltered_stats.qza
data/pundemic_forward_reads_trimmed_qfiltered_stats.qza
data/pundemic_forward_reads_trimmed_qfiltered.qza
data/pundemic_forward_reads_trimmed_backtrimmed_QCfiltered_stats.qza
data/pundemic_forward_reads_trimmed_QCfiltered.qza
data/uniteDB/unite_ver10_99_all_04.04.2024-Q2-2024.5.qza
data/preprocessing/pundemic_forward_reads_trimmed_QCfiltered_2.qza
